* {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh;
}
body {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #222;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  a, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
  }
#delete, #export {
    display: none;
}
#info{
  display: none;
  z-index: 10000;
  height: 80vh;
  width: 80vw;
  background-color: whitesmoke;
  -webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.88);
  -moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.88);
  box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.88);
  position: absolute;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -40vh;
}
#top{
  margin: 5px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
#close img{
  color: red;
  cursor: pointer;
}
iframe{
  margin-top: 2.4rem;
  overflow: hidden;
  border: 0;
  height: calc(80vh - 2.4rem);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
