* {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh;
}
body {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #222;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  h1, h2 {
    margin: 20px 0 0;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1;
  }
  h1 {
    display: inline-block;
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.1em;
  }
  pre {
    line-height: 1.5em;
  }
  p.github {
    display: inline-block;
    margin: 20px 0 0 20px;
    font-size: 1.2em;
  }
  a, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
  }
#delete, #export {
    display: none;
}
#info{
  display: none;
  z-index: 10000;
  height: 80vh;
  width: 80vw;
  background-color: aqua;
  position: absolute;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -40vh;
}